body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin: 20px 0px;
}

.btn {
  background-color: #5ed0f0;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  border: 0;
  outline: 0;
  transition: background-color 0.2s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: #61bafb;
}
